@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*https://tailwindcss.com/docs/customizing-colors#using-css-variables*/

  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --accents-1: 0 0% 98%;
  --accents-2: 0 0% 92%;
  --accents-3: 0 0% 60%;
  --accents-4: 0 0% 53%;
  --accents-5: 0 0% 40%;
  --accents-6: 0 0% 27%;
  --accents-7: 0 0% 20%;
  --accents-8: 0 0% 7%;
  --error: 0 100% 50%;
  --error-light: 0 100% 60%;
  --error-dark: 0 100% 45%;
  --error-lighter: 357 69% 90%;
  --success: 212 100% 48%;
  --success-light: 212 100% 60%;
  --success-dark: 213 94% 42%;
  --success-lighter: 215 100% 91%;
  --warning-ligher: 40 100% 91%;
  --warning-light: 37 91% 65%;
  --warning: 37 91% 55%;
  --warning-dark: 29 89% 35%;
  --violet: 270 67% 47%;
  --violet-light: 261 55% 61%;
  --violet-dark: 262 55% 35%;
  --violet-lighter: 259 57% 87%;
  --cyan: 167 100% 74%;
  --cyan-light: 166 100% 83%;
  --cyan-dark: 167 80% 60%;
  --cyan-lighter: 174 100% 92%;
  --highlight-purple: 305 94% 54%;
  --highlight-pink: 330 100% 50%;
  --highlight-magenta: 336 82% 57%;
  --highlight-yellow: 58 100% 50%;
}

@layer base {
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }

  [data-sonner-toast] {
    @apply px-4 py-2 font-sans !important;
    border-radius: 2rem !important;
    /* 
    transition: .4s,opacity .4s,height .4s,box-shadow .2s,background .2s !important; */

    &[data-type='success'] {
      @apply bg-success-dark text-foreground !important;

      &:hover {
        @apply bg-success !important;
      }

      /* & [data-close-button] {
        @apply relative order-last ml-auto translate-x-0 translate-y-0 bg-transparent text-foreground opacity-100 !important;
      }

      & [data-close-button] svg {
        @apply h-4 w-4 !important;
      } */
    }

    &[data-type='error'] {
      @apply bg-error-dark text-foreground !important;

      &:hover {
        @apply bg-error !important;
      }
    }

    /* & [data-icon] {
      @apply text-success-dark fill-success-dark stroke-foreground stroke-2 !important;
    } */
  }
}
